[user]
	name = Christof Huber
	email = christof.huber@jambit.com
[core]
	excludesfile = /Users/chuber/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/idea diff $LOCAL $PWD/$REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/idea merge $PWD/$LOCAL $PWD/$REMOTE $PWD/$BASE
	trustExitCode = true
[commit]
	template = /Users/chuber/.stCommitMsg
